<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67045086228-t5nlpjpn7e9l76tb55qqfjgkt2q13i8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67045086228-t5nlpjpn7e9l76tb55qqfjgkt2q13i8s</string>
	<key>API_KEY</key>
	<string>AIzaSyA2L3I0OBOF-YT6DPvqZgLR0GtDVCvDtqo</string>
	<key>GCM_SENDER_ID</key>
	<string>67045086228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gkin-Product.ChihoGuesser</string>
	<key>PROJECT_ID</key>
	<string>chatmake-53892</string>
	<key>STORAGE_BUCKET</key>
	<string>chatmake-53892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:67045086228:ios:90eca3ba7abbaf9688c301</string>
	<key>DATABASE_URL</key>
	<string>https://chatmake-53892.firebaseio.com</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
